<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
    <h1>1.naloga</h1>

    <form method="post" action="/kalkulator">
        <input name="vnos_1" placeholder="vpisi prvo stevilo" value="{{prva}}"><br>
        <input name="vnos_2" placeholder="Vpisi operacijo plus(+) ali minus (-)" value="{{operacija}}"><br>
        <input name="vnos_3" placeholder="vpisi drugo stevilo" value="{{druga}}"><br>
        <button name="klik">Klikni za izracun</button>
        <input name="vnos_4" placeholder="Izpis rezultata: " value="{{izpisi}}">
    </form>

</body>
</html>